* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", serif;
    background: #fffcfc;
    
    overflow-x: hidden;
}

.navbar {
    /* position: fixed; */
    top: 0;
    width: 100%;
    background-color:wheat;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    color: rgb(158, 141, 141);
}