* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", serif;
    background: #fffcfc;
    
    overflow-x: hidden;
}

.navbar {
    /* position: fixed; */
    top: 0;
    width: 100%;
    background-color:wheat;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    color: rgb(158, 141, 141);
}
/* logo wale item */
.logo {
    font-size: 26px;
    color: #4d4533;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    transition: transform 0.4s ease;

}
.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: transform 0.4s ease;
}
nav a:hover{
    /* text-decoration: underline gold; */
    color: rgb(6, 6, 6);
    transform: scale(1.1); 
}

.product-grid {
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
/* wide wale image */
.card, .banner {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
    transition: transform .2s;
}

.card:hover, .banner:hover {
    transform: scale(1.03);
}

.card img, .banner img {
    width: 100%;
    display: block;
}
/* this is for card three */
.card h3 {
    font-size: 18px;
    margin: 10px;
}

.card p {
    margin: 0 10px 15px;
    color: #222;
    font-weight: bold;
}

/* Banner will take 2 columns */
.banner {
    grid-column: span 2;
}

/* Responsive bana diya*/
@media (max-width: 900px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .banner {
        grid-column: span 2;
    }
}

@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .banner {
        grid-column: span 1;
    }
}
